# Sources
*.asm

# Challenges & Artifacts
./win-rope/01.ret2win/ret2win
./win-rope/01.ret2win/ret2win.exe

# Objectes and executables
*.a
*.o
*.so
*.bin
*.exe
*.dll
*.dyn
*.lib
*.obj
*.pdb
*.rsc
*.coff
