# Sources
*.asm

# Objectes and executables
*.a
*.o
*.so
*.bin
*.dll
*.dyn
*.lib
*.obj
*.pdb
*.rsc
*.coff

### DO NOT IGNORE
# Challenges & Artifacts
!src/01.ret2win/ret2win
!src/01.ret2win/ret2win.zip
!src/02.split/split
!src/02.split/split.zip

!/bin/*.exe
